.graph-box{
    -fx-border-width: 1px;
    -fx-padding: 2px;
}

.menu-section Button{
    -fx-cursor: hand;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.filter-section{
    -fx-border-width: 1px;
    -fx-border-color: transparent #E8E8E8 transparent transparent;

}

.filter-section TextField{
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-font-size: 15;
}

.filter-section Button{
    -fx-cursor: hand;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-text-alignment: center;
    -fx-font-size: 15;
}


.menu{
    -fx-cursor: hand;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}

.menu-item {
    -fx-cursor: hand;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
}